package debts

templ DebtsIndex(){
    <div>
        <h1>Debts</h1>
        <ul>
            <li>
                <a href="/debts/new">New Debt</a>
            </li>
            <li>
                <a href="/debts/1">Debt 1</a>
            </li>
            <li>
                <a href="/debts/2">Debt 2</a>
            </li>
        </ul>
    </div>
}